@import './util.scss';

.card {
  display: flex;
  width: 343px;
  height: 124px;
  padding: 16px;
  align-items: flex-end;
  align-content: flex-end;
  gap: 10px 8px;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 18px;
  background: #fff;
  @include box_shadow;
}

.title {
  @include body2_sb;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // font-weight: 700;
  // line-height: 150%; /* 27px */
  // letter-spacing: -0.342px;
}

.contents {
  @include body3_r;
}

.state {
  @include body2_sb;
}

.icon {
  width: 20px;
  height: 20px;
  justify-content: center;
}
