@import './util.scss';

.no-card {
  display: flex;
  width: 343px;
  height: 124px;
  padding: 16px;
  border-radius: 18px;
  background: #fff;
  align-items: center;
}

.body1_sb {
  @include body1_sb;
}

.body3_m {
  @include body3_m;
}
