@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --Gray-Gray-100: #f3f4f6; /* 추가된 변수 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--Gray-Gray-100, #f3f4f6);
  width: 375px;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
