.text-editor .ql-container {
  border: 1px solid #D1D5DB;
  border-radius: 0 0 8px 8px;
}

.text-editor:focus-within .ql-container{
  border-color: #2563EB;
  box-shadow:-2px 0px 0px 0px rgba(37, 99, 235, 0.10), 2px 0px 0px 0px rgba(37, 99, 235, 0.10),
  0px 2px 0px 0px rgba(37, 99, 235, 0.10);
}
.text-editor:focus-within .ql-toolbar{
  border-color: #2563EB;
  border-bottom-color: #D1D5DB;
  box-shadow: 2px 0px 0px 0px rgba(37, 99, 235, 0.10), -2px 0px 0px 0px rgba(37, 99, 235, 0.10),
  0px -2px 0px 0px rgba(37, 99, 235, 0.10);
}

.text-editor .ql-toolbar {
  border: 1px solid #D1D5DB;
  border-bottom: 1px solid #D1D5DB;
  border-radius: 8px 8px 0 0;
}

.text-editor .ql-editor {
  min-height: 248px;
  max-height: 248px;
  padding: 12px 16px 12px 16px;
}

.text-editor .ql-editor::-webkit-scrollbar {
  width: 22px;
}

.text-editor .ql-editor::-webkit-scrollbar-track {
  display: none;
}

.text-editor .ql-editor::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
  border-radius: 100px;
  border: 8px solid transparent;
  background-clip: padding-box;
}

.text-editor .ql-editor.ql-blank::before{
  font-size: 16px;
  font-style: normal;
  font-family: "Pretendard-Regular";
  color: #9CA3AF
}

/* .text-editor .ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  padding: 0px
} */

/* .text-editor .ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #D1D5DB;
} */