.text-editor .ql-container {
  border: 1px solid #d1d5db;
  border-radius: 0 0 8px 8px;
}

.text-editor:focus-within .ql-container {
  border-color: #2563eb;
  box-shadow:
    -2px 0px 0px 0px rgba(37, 99, 235, 0.1),
    2px 0px 0px 0px rgba(37, 99, 235, 0.1),
    0px 2px 0px 0px rgba(37, 99, 235, 0.1);
}
.text-editor:focus-within .ql-toolbar {
  border-color: #2563eb;
  border-bottom-color: #d1d5db;
  box-shadow:
    2px 0px 0px 0px rgba(37, 99, 235, 0.1),
    -2px 0px 0px 0px rgba(37, 99, 235, 0.1),
    0px -2px 0px 0px rgba(37, 99, 235, 0.1);
}

.text-editor .ql-toolbar {
  border: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  border-radius: 8px 8px 0 0;
}

.text-editor .ql-editor {
  min-height: 248px;
  max-height: 248px;
  padding: 12px 16px 12px 16px;
}

.text-editor .ql-editor::-webkit-scrollbar {
  width: 22px;
}

.text-editor .ql-editor::-webkit-scrollbar-track {
  display: none;
}

.text-editor .ql-editor::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 100px;
  border: 8px solid transparent;
  background-clip: padding-box;
}

.text-editor .ql-editor.ql-blank::before {
  font-size: 16px;
  font-style: normal;
  font-family: 'Pretendard-Regular';
  color: #9ca3af;
}

/* .text-editor .ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  padding: 0px
} */

/* .text-editor .ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #D1D5DB;
} */
